body{
    background-color: #ecf0f0ad;
}
/*상단바*/
.top{
    display: grid;
    grid-template-columns: 1fr 1.5fr 3fr;
    /* display: flex;
    align-items: center;
    background: #57e7d4; */
}
.top .logo{
    width:100px;
    object-fit: contain;
}
.top .logo img{
    width:100%;
    
}

.top .search{
    margin: auto;
    width:95%;
}

.top input{
    text-align: center;
    width:100%;
    border-radius: 7px;
}


.top .icon{
    display: flex;
    align-items: center;
}
.top .icon div{
    margin:auto 15px;
}
.top .icon img {
    width:100%;
}


/*프로필*/
.profile{
    display: flex;
}
.profile .pr_img{
    margin:auto 0;
    width:50px;
    height:50px;
    border: 1px solid red;
}
.profile img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 50%;
}
.profile .user_info{
    display: inline-block;
    margin:auto 0 0 20px;
}
.profile .user_info h2{
    color:red;
}
.profile .user_info .btn{
    width:200px;
    background: #fff;
    border:#bfc0c0 solid 1px;
    font-weight: bold;
    border-radius: 5px;
}


/*소개글*/
.introduce{
}


/*하이라이트*/
.highlight{
    display: flex;
    margin-bottom: 30px;
}
.highlight .hl_image{
    text-align: center;
    margin:5px 10px;
    width:35px;
    height: 35px;
}
.highlight .hl_image img{
    border:1px solid white;
    border-radius: 50%;
    width:100%;
    height: 100%;
    object-fit: cover;

   
}


/*상태글*/
.status{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.status div{text-align: center;}
/* .status .follower{
    margin:0 100px;
} */


/*썸네일*/
.thumbnails{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 3px solid skyblue;
}
.thumbnails img{
    width:100%;
}
